:host {
  display: block;
}

.th-input {
  display: grid;
  gap: var(--th-space-2);
}

.th-input__label {
  font-size: var(--th-text-body-md-size);
  line-height: var(--th-text-body-md-line-height);
  font-weight: var(--th-font-weight-medium);
  color: var(--th-neutral-700);
}

.th-input__item {
  --background: var(--th-white);
  --color: var(--th-neutral-900);
  --placeholder-color: var(--th-neutral-500);
  --border-color: var(--th-neutral-300);
  --border-radius: var(--th-radius-lg);
  --border-width: 1px;
  --border-style: solid;
  --min-height: 48px;
  --padding-start: var(--th-space-4);
  --padding-end: var(--th-space-4);
  --highlight-height: 0px;
  --inner-padding-end: 0px;
  border: 1px solid var(--th-neutral-300);
  border-radius: var(--th-radius-lg);
}

.th-input__item ion-input {
  --color: var(--th-neutral-900);
  --placeholder-color: var(--th-neutral-500);
}

.th-input__item ion-input::part(native) {
  color: var(--th-neutral-900);
}

.th-input__icon {
  color: var(--th-neutral-500);
  font-size: 1.1rem;
  margin-right: var(--th-space-3);
}

.th-input__icon--end {
  margin-right: 0;
}

.th-input__icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  padding: var(--th-space-0);
  margin-left: var(--th-space-2);
  cursor: pointer;
}

.th-input__icon-button:disabled {
  cursor: not-allowed;
}

.th-input__badge {
  font-size: var(--th-text-caption-size);
  font-weight: var(--th-font-weight-semibold);
  color: var(--th-neutral-500);
  margin-left: var(--th-space-3);
}

.th-input__helper {
  font-size: var(--th-text-body-sm-size);
  line-height: var(--th-text-body-sm-line-height);
  color: var(--th-neutral-600);
  margin: var(--th-space-0);
}

.th-input--focus .th-input__item {
  border-color: var(--th-primary-500);
  box-shadow: 0 0 0 2px var(--th-overlay-primary-20);
}

.th-input--focus .th-input__badge {
  color: var(--th-primary-500);
}

.th-input--focus .th-input__icon {
  color: var(--th-primary-500);
}

.th-input--error .th-input__item {
  border-color: var(--th-error-500);
  background: var(--th-error-50);
}

.th-input--error .th-input__badge,
.th-input--error .th-input__helper {
  color: var(--th-error-500);
}

.th-input--error .th-input__icon {
  color: var(--th-error-500);
}

.th-input--disabled .th-input__item {
  border-color: var(--th-neutral-200);
  background: var(--th-neutral-100);
}

.th-input--disabled .th-input__badge,
.th-input--disabled .th-input__helper,
.th-input--disabled .th-input__label {
  color: var(--th-neutral-400);
}

.th-input--disabled .th-input__icon {
  color: var(--th-neutral-400);
}

.th-input--disabled .th-input__icon-button {
  cursor: not-allowed;
}
