<div class="th-input" [ngClass]="stateClass">
  <label class="th-input__label" *ngIf="label">{{ label }}</label>
  <ion-item class="th-input__item" lines="none">
    <ion-icon
      *ngIf="startIcon"
      [name]="startIcon"
      class="th-input__icon"
      aria-hidden="true"
    ></ion-icon>
    <ion-input
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="isDisabled"
      (ionInput)="onInput($event)"
      (ionFocus)="onFocus()"
      (ionBlur)="onBlur()"
      (keydown.enter)="onEnterKey($event)"
    ></ion-input>
    <button
      *ngIf="endIcon"
      type="button"
      class="th-input__icon-button"
      [disabled]="isDisabled"
      [attr.aria-label]="endIconAriaLabel"
      (mousedown)="$event.preventDefault()"
      (click)="onEndIconClick($event)"
    >
      <ion-icon [name]="endIcon" class="th-input__icon th-input__icon--end" aria-hidden="true"></ion-icon>
    </button>
    <span class="th-input__badge" *ngIf="badge">{{ badge }}</span>
  </ion-item>
  <p class="th-input__helper" *ngIf="helper">{{ helper }}</p>
</div>
