<section class="details-mosaic" [class.details-mosaic--fit-parent]="fitParent" aria-label="Hotel image gallery">
  <div class="details-mosaic__desktop" *ngIf="images.length">
    <button
      *ngFor="let image of desktopImages; let i = index"
      class="details-mosaic__tile"
      type="button"
      (click)="selectImage(i)"
      [attr.aria-label]="'Open photo ' + (i + 1) + ' of ' + effectiveTotalPhotos"
    >
      <img [src]="image.src" [alt]="image.alt || hotelName + ' photo ' + (i + 1)" />
    </button>

    <button class="details-mosaic__view-all" type="button" *ngIf="shouldShowDesktopViewAll" (click)="triggerViewAll()">
      <ion-icon name="images-outline" aria-hidden="true"></ion-icon>
      <span>{{ viewAllLabel }}</span>
    </button>
  </div>

  <div class="details-mosaic__mobile" *ngIf="selectedImage as activeImage">
    <div class="details-mosaic__mobile-hero">
      <img [src]="activeImage.src" [alt]="activeImage.alt || hotelName + ' selected photo'" />
      <span class="details-mosaic__counter">
        <ion-icon name="images-outline" aria-hidden="true"></ion-icon>
        {{ currentPhotoText }}
      </span>
    </div>

    <div class="details-mosaic__thumb-list" role="list">
      <button
        *ngFor="let image of images; let i = index"
        type="button"
        class="details-mosaic__thumb"
        [class.details-mosaic__thumb--active]="i === selectedIndex"
        (click)="selectImage(i)"
        [attr.aria-label]="'Select thumbnail ' + (i + 1)"
      >
        <img [src]="image.src" [alt]="image.alt || hotelName + ' thumbnail ' + (i + 1)" />
      </button>
    </div>
  </div>

  <div class="details-mosaic__empty" *ngIf="!images.length">
    <ion-icon name="images-outline" aria-hidden="true"></ion-icon>
    <p>No photos available</p>
  </div>
</section>