<div class="th-datetime-modal" [ngClass]="{ 'th-datetime-modal--open': isOpen }">
  <!-- Crystal Effect Backdrop -->
  <div class="th-datetime-modal__backdrop" (click)="onBackdropClick()"></div>

  <!-- Modal Container -->
  <ion-card class="th-datetime-modal__container" role="dialog">
    <!-- Datetime Picker -->
    <ion-card-content class="th-datetime-modal__content">
      <ion-datetime
        #datetimePicker
        [(ngModel)]="selectedDate"
        presentation="date"
        locale="es-ES"
        [firstDayOfWeek]="0"
        [min]="minDate"
        [max]="maxDate"
        (ionChange)="onDateChange($event.detail.value)"
      ></ion-datetime>
    </ion-card-content>
  </ion-card>
</div>
