<portal-hoteles-grid-card
  cardClass="portal-hoteles-grid-card--panel portal-hoteles-grid-card--wide"
  [title]="title"
  [subtitle]="subtitle"
>
  <div class="portal-hoteles-revenue-chart-card__toolbar">
    <ion-chip color="light">{{ periodLabel }}</ion-chip>
    <ion-select
      interface="popover"
      [value]="selectedPeriod"
      aria-label="Select chart period"
      (ionChange)="onPeriodSelectionChange($event)"
    >
      <ion-select-option *ngFor="let option of periodOptions" [value]="option">{{ option }}</ion-select-option>
    </ion-select>
  </div>

  <div
    #chartHost
    class="portal-hoteles-revenue-chart-card__chart"
    [attr.aria-label]="chartAriaLabel"
    role="img"
    tabindex="0"
  ></div>
</portal-hoteles-grid-card>
